{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wt %}

{% block page_content %}

    <div class="page-header">

        <h1>Olá, {% if nome and sobrenome %}{{ nome }} {{ sobrenome }}{% else %}Estranho{% endif %}!</h1>

        {% if nome and sobrenome and instituicao and disciplina %}
            <h3>A sua Insituição de ensino é {{ instituicao }}</h3>
            <h3>Está cursando a disciplina de {{ disciplina }}</h3>
            <br>
            <h4>O IP do computador remoto é: {{ user_IP }}</h4>
            <h4>O host da aplicação é: {{ app_host }}</h4>
        {% endif %}

    </div>

    <div class="page-content">

        {{ wt.quick_form(cadastro) }}

    </div>

    <div class="page-content">
        
        <p>The local date and time is {{moment(current_time).format('LLL') }}.</p>
        <p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>

    </div>

{% endblock %}