{% extends "base.html" %}

{% block page_content %}

    <div class="page-header">
        <h1>E-mails enviados</h1>
    </div>

    <p>Relação de e-mails enviados para o administrador do sistema, notificando o cadastro de novos usuários.</p>

    <table class="table table-striped table-hover align-middle m-0">
        <thead>
            <tr>
                <th>De</th>
                <th>Para</th>
                <th>Assunto</th>
                <th>Texto</th>
                <th>Data/Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for email in emails %}
                <tr>
                    <td>{{ email.remetente | join(', ') if email.remetente else '-' }}</td>
                    <td>{{ email.destinatario | join(', ') if email.destinatario else '-' }}</td>
                    <td>{{ email.assunto }}</td>
                    <td>{{ email.texto }}</td>
                    <td>{{ email.dataHora | br_datetime }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

